/out
/bin
/temp/*
*.sdf
*.suo
out

/*.dmp

.vs
*.vcxproj.user

idl/__snapshots__

/.vscode/launch.json

tools/node_modules
test/opt_tools_test/install_from_pkgjson/node_modules
test/opt_tools_test/install_from_pkgjson/target_folder/node_modules
