dist: trusty
language: cpp
if: (branch =~ ^(dev|beta|master|test_ci)$) || (tag =~ ^v?[0-9]+\.[0-9]+\.[0-9]+$)
services:
  - docker
matrix:
  include:
    - os: osx
      osx_image: xcode10.1
      env:
        - TARGET_ARCH=amd64
    - os: osx
      osx_image: xcode10.1
      env:
        - TARGET_ARCH=i386
    - os: linux
      env:
        - TARGET_ARCH=amd64
    - os: linux
      env:
        - TARGET_ARCH=i386
    - os: linux
      env:
        - TARGET_ARCH=arm
    - os: linux
      env:
        - TARGET_ARCH=arm64
    - os: linux
      env:
        - TARGET_ARCH=mips
    - os: linux
      env:
        - TARGET_ARCH=mips64
cache: ccache
addons:
  apt:
    packages:
      - ccache
      - unzip
  homebrew:
    packages:
      - xz
      - unzip
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
    rvm install ruby-2.4.0;
    rvm --default use 2.4.0;
    ruby -v;
    brew update;
    fi
install:
  - git submodule init
  - git submodule update
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
    brew install ccache;
    export PATH="/usr/local/opt/ccache/libexec:$PATH";
    brew install xz;
    fi
script:
  - echo "${TARGET_ARCH}"
  - ./.travis/build.sh
  - if [[ -z $TRAVIS_TAG && $TRAVIS_BRANCH != "beta" ]]; then
    ./.travis/test.sh;
    else
    ./.travis/release.sh;
    fi
before_deploy:
  - if [[ -z $TRAVIS_TAG ]]; then
    export TRAVIS_TAG=$(git describe --match "v[0-9]*.[0-9]*.[0-9]*");
    fi
  - export GIT_COMMIT_SHORTCUTS=$(git log --format=%h -1)
  - echo "$TRAVIS_TAG" "$GIT_COMMIT_SHORTCUTS"
deploy:
  - provider: releases
    api_key:
      secure: e8Vlz6ZGelHDh7FXXu39xuGBk08jSXfmddJKG2nAg3HfXKXOEPniVKXtlsCpXD7FrzAo23V3caKBdFRye785JCJ1Xgf6rJx1lwB/0uAYaYYqq+DIVsiK+w3IoaZWvf/yEw6wYXsGI2jgUz3RIinETr/HomO5HAFAQHwbHqL6Jn8=
    file_glob: true
    file: ${TRAVIS_TAG}/*
    skip_cleanup: true
    overwrite: true
    on:
      tags: true
      repo: fibjs/fibjs
  - provider: releases
    name: ${TRAVIS_TAG}-beta
    body: Automated release from Travis CI on beta (${TRAVIS_COMMIT})
    prerelease: true
    api_key:
      secure: e8Vlz6ZGelHDh7FXXu39xuGBk08jSXfmddJKG2nAg3HfXKXOEPniVKXtlsCpXD7FrzAo23V3caKBdFRye785JCJ1Xgf6rJx1lwB/0uAYaYYqq+DIVsiK+w3IoaZWvf/yEw6wYXsGI2jgUz3RIinETr/HomO5HAFAQHwbHqL6Jn8=
    file_glob: true
    file: ${TRAVIS_TAG}/*
    skip_cleanup: true
    overwrite: true
    on:
      branch: beta
      repo: fibjs/fibjs
