dist: trusty
language: cpp
services:
  - docker
env:
  - ARCH=amd64
  - ARCH=i386
  - ARCH=arm
  - ARCH=arm64
  - ARCH=mips
  - ARCH=mips64
matrix:
  include:
    - os: osx
      osx_image: xcode8.2
      env:
        - ARCH=amd64
install:
  - git submodule init
  - git submodule update
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then docker pull fibjs/build-env:latest; fi
script:
  - echo "${ARCH}"
  - ./.travis/build.sh
  - ./.travis/test.sh
  - ./.travis/release.sh
deploy:
  provider: releases
  api_key:
    secure: e8Vlz6ZGelHDh7FXXu39xuGBk08jSXfmddJKG2nAg3HfXKXOEPniVKXtlsCpXD7FrzAo23V3caKBdFRye785JCJ1Xgf6rJx1lwB/0uAYaYYqq+DIVsiK+w3IoaZWvf/yEw6wYXsGI2jgUz3RIinETr/HomO5HAFAQHwbHqL6Jn8=
  file_glob: true
  file: dist/*
  skip_cleanup: true
  overwrite: true
  on:
    tags: true
    repo: fibjs/fibjs
