image: Visual Studio 2017

environment:
  CI: 'ci'
  CMAKE_RC_COMPILER: 'llvm-rc.exe'

platform:
  - x86
  - x64

configuration: Release

install:
  - call "%APPVEYOR_BUILD_FOLDER%\.appveyor\set-git-bash.cmd"
  - git submodule init
  - git submodule update
  - IF /I "%PLATFORM%" == "x64" ("C:\Program Files\Git\bin\sh.exe" "%APPVEYOR_BUILD_FOLDER%\.appveyor\install-vender-x64.sh")
  - IF /I "%PLATFORM%" == "x86" ("C:\Program Files\Git\bin\sh.exe" "%APPVEYOR_BUILD_FOLDER%\.appveyor\install-vender-x86.sh")
  - call "%APPVEYOR_BUILD_FOLDER%\.appveyor\install-llvm.cmd"
  - call "%APPVEYOR_BUILD_FOLDER%\.appveyor\set-llvm.cmd"

build_script:
  - IF /I "%PLATFORM%" == "x64" ECHO "x64 building..." && build release amd64
  - IF /I "%PLATFORM%" == "x64" IF /I "%APPVEYOR_REPO_TAG%" == "false" ( .\bin\Windows_amd64_release\fibjs.exe --prof .\test\main.js )
  - IF /I "%PLATFORM%" == "x86" ECHO "x86 building..." && build release i386
  - IF /I "%PLATFORM%" == "x86" IF /I "%APPVEYOR_REPO_TAG%" == "false" ( .\bin\Windows_i386_release\fibjs.exe --prof .\test\main.js )
  - IF /I "%APPVEYOR_REPO_TAG%" == "false" set APPVEYOR_REPO_TAG_NAME=dist
  - mkdir %APPVEYOR_REPO_TAG_NAME%
  - IF /I "%PLATFORM%" == "x64" copy .\bin\Windows_amd64_release\fibjs.exe .\%APPVEYOR_REPO_TAG_NAME%\fibjs-%APPVEYOR_REPO_TAG_NAME%-windows-x64.exe
  - IF /I "%PLATFORM%" == "x64" copy .\bin\Windows_amd64_release\fibjs_gui.exe .\%APPVEYOR_REPO_TAG_NAME%\fibjs-%APPVEYOR_REPO_TAG_NAME%-windows-gui-x64.exe
  - IF /I "%PLATFORM%" == "x64" copy .\bin\Windows_amd64_release\installer.exe .\%APPVEYOR_REPO_TAG_NAME%\installer-%APPVEYOR_REPO_TAG_NAME%-windows-x64.exe
  - IF /I "%PLATFORM%" == "x64" copy .\bin\Windows_amd64_release\fibjs.cab .\%APPVEYOR_REPO_TAG_NAME%\fibjs-%APPVEYOR_REPO_TAG_NAME%-windows-x64.cab
  - IF /I "%PLATFORM%" == "x86" copy .\bin\Windows_i386_release\fibjs.exe .\%APPVEYOR_REPO_TAG_NAME%\fibjs-%APPVEYOR_REPO_TAG_NAME%-windows-x86.exe
  - IF /I "%PLATFORM%" == "x86" copy .\bin\Windows_i386_release\fibjs_gui.exe .\%APPVEYOR_REPO_TAG_NAME%\fibjs-%APPVEYOR_REPO_TAG_NAME%-windows-gui-x86.exe
  - IF /I "%PLATFORM%" == "x86" copy .\bin\Windows_i386_release\installer.exe .\%APPVEYOR_REPO_TAG_NAME%\installer-%APPVEYOR_REPO_TAG_NAME%-windows-x86.exe
  - IF /I "%PLATFORM%" == "x86" copy .\bin\Windows_i386_release\fibjs.cab .\%APPVEYOR_REPO_TAG_NAME%\fibjs-%APPVEYOR_REPO_TAG_NAME%-windows-x86.cab
test: off

matrix:
  fast_finish: true
artifacts:
  - path: .\%APPVEYOR_REPO_TAG_NAME%\fibjs-%APPVEYOR_REPO_TAG_NAME%-windows-x64.exe
    name: fibjs-%APPVEYOR_REPO_TAG_NAME%-windows-x64.exe
  - path: .\%APPVEYOR_REPO_TAG_NAME%\fibjs-%APPVEYOR_REPO_TAG_NAME%-windows-gui-x64.exe
    name: fibjs-%APPVEYOR_REPO_TAG_NAME%-windows-gui-x64.exe
  - path: .\%APPVEYOR_REPO_TAG_NAME%\fibjs-%APPVEYOR_REPO_TAG_NAME%-windows-x64.cab
    name: fibjs-%APPVEYOR_REPO_TAG_NAME%-windows-x64.cab
  - path: .\%APPVEYOR_REPO_TAG_NAME%\installer-%APPVEYOR_REPO_TAG_NAME%-windows-x64.exe
    name: installer-%APPVEYOR_REPO_TAG_NAME%-windows-x64.exe
  - path: .\%APPVEYOR_REPO_TAG_NAME%\fibjs-%APPVEYOR_REPO_TAG_NAME%-windows-x86.exe
    name: fibjs-%APPVEYOR_REPO_TAG_NAME%-windows-x86.exe
  - path: .\%APPVEYOR_REPO_TAG_NAME%\fibjs-%APPVEYOR_REPO_TAG_NAME%-windows-gui-x86.exe
    name: fibjs-%APPVEYOR_REPO_TAG_NAME%-windows-gui-x86.exe
  - path: .\%APPVEYOR_REPO_TAG_NAME%\installer-%APPVEYOR_REPO_TAG_NAME%-windows-x86.exe
    name: installer-%APPVEYOR_REPO_TAG_NAME%-windows-x86.exe
  - path: .\%APPVEYOR_REPO_TAG_NAME%\fibjs-%APPVEYOR_REPO_TAG_NAME%-windows-x86.cab
    name: fibjs-%APPVEYOR_REPO_TAG_NAME%-windows-x86.cab
deploy:
  - provider: GitHub
    auth_token:
      secure: 16VBdcQ419efvcrd4msOXpevoyHAo+oe5Xyq0bmw4DU+UNSf5cNoJwbOvB5LLve2
    draft: false
    prerelease: false
    on:
      appveyor_repo_tag: true
