name: Build/release

on:
  push:
    # Sequence of patterns matched against refs/heads
    branches:
      - 'ci/**'
      - 'ci-**'
      - 'releases/**'
      - 'feat/**'
      - 'bugfix/**'
      - 'dev'
      - 'master'
      - 'test_ci'
    tags:
      - v0.*.*
      - v1.*.*
      - test_github_actions_*
  pull_request:
    branches:
      - 'dev'
  # release:
  #   # Only use the types keyword to narrow down the activity types that will trigger your workflow.
  #   types: [published, created, edited]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    strategy:
      matrix:
        include:
          - os: ubuntu-20.04
            arch: x64
            type: release
          - os: ubuntu-20.04
            arch: ia32
            type: release
          - os: ubuntu-20.04
            arch: arm64
            type: release
          - os: ubuntu-20.04
            arch: arm
            type: release
          - os: ubuntu-20.04
            arch: mips64
            type: release
          - os: ubuntu-20.04
            arch: ppc64
            type: release
          - os: ubuntu-20.04
            arch: riscv64
            type: release
          - os: ubuntu-20.04
            arch: loong64
            type: release
          - os: ubuntu-20.04
            arch: loong64ow
            type: release
          - os: ubuntu-20.04
            target: alpine
            arch: x64
            type: release
          - os: ubuntu-20.04
            target: alpine
            arch: ia32
            type: release
          - os: ubuntu-20.04
            target: alpine
            arch: arm64
            type: release
          - os: ubuntu-20.04
            target: android
            arch: x64
            type: release
            test: skip
          - os: ubuntu-20.04
            target: android
            arch: ia32
            type: release
            test: skip
          - os: ubuntu-20.04
            target: android
            arch: arm64
            type: release
            test: skip
          - os: ubuntu-20.04
            target: android
            arch: arm
            type: release
            test: skip
          - os: windows-2022
            arch: x64
            type: release
          - os: windows-2022
            arch: ia32
            type: release
          - os: windows-2022
            arch: arm64
            type: release
            test: skip
          - os: macos-14
            arch: x64
            type: release
          - os: macos-14
            arch: arm64
            type: release
          - os: macos-14
            arch: x64
            type: debug
          - os: macos-14
            target: iphone
            arch: arm64
            type: release
            test: skip
          - os: macos-14
            target: iphone
            arch: x64
            type: release
            test: skip

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: Setup the environment
        shell: bash
        run: . ./vender/build_tools/scripts/actions-env.sh
        env:
          BUILD_TARGET: ${{ matrix.target }}
          BUILD_ARCH: ${{ matrix.arch }}
          BUILD_TYPE: ${{ matrix.type }}

      - name: Build the project
        shell: bash
        run: . ./.github/workflows/build.sh

      - name: Release the project
        if: env.BUILD_TAG != '' && matrix.type == 'release'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./bin/${{ env.BUILD_OS }}_${{ env.BUILD_ARCH }}_${{ env.BUILD_TYPE }}/release/*
          file_glob: true
          tag: ${{ env.BUILD_TAG }}
          overwrite: true

      - name: Test
        # only test for release version now, some test cases cannot passed in debug mode
        if: ${{ matrix.type == 'release' && matrix.test != 'skip' }}
        shell: bash
        run: . ./.github/workflows/test.sh
